main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: turquoise;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 130px;
}

.difficulty-button {
  text-decoration: none;
  font-size: 30px;
  margin-right: 20px;
  margin-left: 20px;
  color: black;
}

.difficulty-button:hover {
  font-weight: 800;
}

a.clicked {
  text-decoration: underline;

}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: 25px;
}


.game-board-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 120px;
}

.button {
  width: 90px;
  font-size: 20px;
  margin: 10px;
  border-radius: 8px;

}

.letter {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 30px;
  font-weight: 800;
}

#letterBoard {
  background-color: turquoise;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#hiddenLetterList {
  text-align: center;
  letter-spacing: 10px;
  font-size: 100px;
  font-family: 'Love Ya Like A Sister', cursive;
  text-transform: uppercase;
}

.winOrLossMessage {
  font-size: 70px;
}

@media only screen and (max-device-width : 480px) {
  body {
  }
  .game-board-wrapper {
    flex-direction: column;
    margin-right: 0;
  }
  #letterBoard {
    width: 80%;
  }
  .button-container {
    flex-direction: column;
    justify-content: space-between;
    order: 5;
  }
  img {
    margin-right: 75px;
  }
}


/*
@media {
  need to change header size for smaller screens
  and make hidden letter display smaller
  make everything
}*/
