main {
  text-align: center;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  color: turquoise;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 130px;
}

.gameBoard {
/*  width: 100%;*/
  display: inline-block;
}

.button {
  height: 40px;
  margin-bottom: 30px;
}

.letter {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 30px;
  font-weight: 800;
}

#letterBoard {
  background-color: turquoise;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#hiddenLetterList {
  text-align: center;
  letter-spacing: 10px;
  font-size: 100px;
  font-family: 'Love Ya Like A Sister', cursive;
  text-transform: uppercase;
}
/*
@media {
  need to change header size for smaller screens
}*/
